.repository-panel {
  background-color: #00a1d9;
  .password {
    width: 100px;
    height: 50px;

  }

  .dropdown-menu {
    min-width: 100% !important;
    font-size: 28px;
  }

  .btn {
    min-width: 100% !important;
    font-size: 28px;
  }
}